div.container {
  padding-left: 20px;
  padding-right: 20px;
}

img.event-image {
  height: 100px;
}

div.add-session,
div.filter-buttons {
  cursor: pointer;
  margin-top: 1.7em;
}

div.filter-buttons button {
  margin: 5px;
}
