div.container {
  padding-left: 20px;
  padding-right: 20px;
}

img.event-image {
  height: 100px;
}

div.session {
  cursor: pointer;
  margin-top: 1.9em;
  margin-right: 1.8em;
  /* color: blue; */
}
